## Natural Language Processing (NLP)

text processing,
Morph Analyzer,
POS Tagging - Me,
Parsing,
Machine Translation,
Speech Processing,
Text to Speech,
Automatic Speech recognition,
Speech to Speech Translation.

### How to classify messages from spam and good messages

In [1]:
# TO DOWNLOAD NLTK AND HAVE CONDA

#!conda install nltk #This installs nltk 
import nltk
nltk.download() #Download necessary datasets

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

## Get data

In [3]:
messages = [line.rstrip() for line in open('SMSSpamCollection')]
print(len(messages))

5574

A collection of text is called corpus.

Lets print the first ten messages and number them using **enumerate**

In [4]:
for message_no, message in enumerate(messages[:10]):
    print(message_no, message)
    print('\n')

0 ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...


1 ham	Ok lar... Joking wif u oni...


2 spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's


3 ham	U dun say so early hor... U c already then say...


4 ham	Nah I don't think he goes to usf, he lives around here though


5 spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv


6 ham	Even my brother is not like to speak with me. They treat me like aids patent.


7 ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune


8 spam	WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.


9 spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

this is a (tsv)tab separated value coz of spaces

In [5]:
import pandas as pd

In [6]:
messages = pd.read_csv('SMSSpamCollection',sep='\t',names=["label", "message"])
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## EDA

In [7]:
messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
label      5572 non-null object
message    5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [9]:
messages.groupby('label').describe().transpose()

label                              ham  \
message count                     4825
        unique                    4516
        top     Sorry, I'll call later
        freq                        30

label                                                        spam
message count                                                 747
        unique                                                653
        top     Please call our customer service representativ...
        freq                                                    4

In [10]:
messages['length'] = messages['message'].apply(len)
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [14]:
import numpy as np

In [20]:
messages['length'].max()

910

In [21]:
messages[messages['length']==messages['length'].max()]

     label                                            message  length
1085   ham  For me the love should start with attraction.i...     910

In [30]:
messages[messages['message']==messages['length'].max()]

Empty DataFrame
Columns: [label, message, length]
Index: []