In [1]:
import numpy as np
import pandas as pd
pd.__version__

'0.24.2'

## Series

## Creating a series

You can convert a list,numpy,array or a dictionary to a series.

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

## Using lists

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

The first parameter is always the list then labels is the second.

## Numpy Arrays

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

## Dictionary

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d,labels)

a    10
b    20
c    30
dtype: int64

## Data in a series

A pandas can hold a variety of object types:

In [15]:
my_data = pd.Series(data=labels)
my_data

0    a
1    b
2    c
dtype: object

In [16]:
my_data[1]

'b'

In [17]:
list_1 = [1,2,3,4]
list_2 = ['USA','GERMANY','USSR','JAPAN']

In [19]:
ser1 = pd.Series(list_1,list_2)
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [20]:
list_3 = ['USA','GERMANY','ITALY','JAPAN']

In [24]:
ser2 = pd.Series(list_3)
ser2

0        USA
1    GERMANY
2      ITALY
3      JAPAN
dtype: object

In [28]:
ser2 = pd.Series(list_3,list_1)
ser2

1        USA
2    GERMANY
3      ITALY
4      JAPAN
dtype: object